/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header Styling */
.header {
    display: flex;
    align-items: flex-start; /* Use 'flex-start' for left alignment */
    justify-content: flex-start;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 1;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Optional glow animation for text */
@keyframes textGlow {
    0% {
        text-shadow: 2px 2px 8px rgba(234, 238, 239, 0.5), 0 0 10px #1abc9c, 0 0 20px #1abc9c;
    }
    100% {
        text-shadow: 2px 2px 8px rgba(243, 238, 238, 0.5), 0 0 20px #16a085, 0 0 40px #16a085;
    }
}

.list {
    padding: 20px;
}

.logo img {
    height: 80px;
    padding: 10px;
}

.name {
    padding: 20px;
}

.title h1 {
    font-size: 1.8rem;
    font-family: "Roboto Slab", serif;
}

.title p {
    font-size: 1rem;
}

/* Navbar Styling */
nav {
    position: relative;
    z-index: 1;
    background-color: rgba(34, 34, 34, 0.7); /* Semi-transparent background */
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: "Orbitron", sans-serif;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease; /* Add smooth hover effect */
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

/* Basic button styles */
.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Animation effect */
.contact-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    border-radius: 
